version: "3.9"

services:
  redis:
    image: redis:7.2
    command: [
      "redis-server",
      "--bind", "0.0.0.0",
      "--protected-mode", "yes",
      "--requirepass", "${REDIS_PASSWORD}",
      "--save", "",
      "--appendonly", "no",
      "--maxmemory", "${REDIS_MAXMEMORY}",
      "--maxmemory-policy", "allkeys-lfu",
      "--lazyfree-lazy-eviction", "yes",
      "--lazyfree-lazy-expire", "yes"
    ]
    ports:
      - "6379:6379"
    container_name: redis
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "PING"]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - core-net

  postgres:
    image: postgres:16
    container_name: postgres  
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: Europe/Paris
      PGTZ: Europe/Paris
    command: ["postgres", "-c", "listen_addresses=*", "-c", "port=5432"]
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d:ro

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    networks:
      - core-net

  pgadmin:
    image: dpage/pgadmin4:8.3
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: seulgi.shin.fr@gmail.com
      PGADMIN_DEFAULT_PASSWORD: episen-tp-paas
      TZ: Europe/Paris
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - core-net

volumes:
  redis-data:
  postgres-data:

networks:
  core-net:
    name: core-net
    driver: bridge