version: '3.8'

services:
  telemetry-service:
    build: .
    container_name: telemetry-service
    environment:
      MQTT_BROKER: "mqtt://172.31.252.161:1883"
      MQTT_USER: "toto"
      MQTT_PASSWORD: "toto"

      MQTT_TOPIC_BADGE: "iot/badgeuse/+/events"
      MQTT_TOPIC_DOOR_BASE: "iot/porte"

      KAFKA_BROKER: "172.31.252.16:9092"
      TOPIC_ATTEMPTS: "attempts"
      TOPIC_ENTRANCE: "entrance"
    command: ["node", "index.js"]
    restart: unless-stopped